body{
margin:0;
overflow:hidden;
font-family:Arial,sans-serif;
background:#fff;
}

#ui{
position:absolute;
top:16px;
left:16px;
z-index:10;
background:rgba(30,30,30,.92);
padding:12px;
border-radius:12px;
}

#overlay{
position:absolute;
inset:0;
pointer-events:none;
}

.hotspot{
position:absolute;

width:18px;
height:18px;

transform:translate(-50%,-50%);

pointer-events:auto;
cursor:pointer;

will-change:transform;

overflow:visible;
}

.hotspot::before{
content:"";

position:absolute;

left:50%;
top:50%;

width:18px;
height:18px;

transform:translate(-50%,-50%);

border-radius:50%;

background:#44D62C;

box-shadow:
0 0 0 3px rgba(255,255,255,.9),
0 0 14px rgba(255, 255, 255, 0.9);

z-index:2;
}

.hotspot::after{
content:"";

position:absolute;

left:50%;
top:50%;

width:18px;
height:18px;

transform:translate(-50%,-50%);

border-radius:50%;

background:
rgb(255, 255, 255);

animation:pulse 1.8s infinite ease-out;

z-index:1;
}

@keyframes pulse{

0%{
transform:
translate(-50%,-50%)
scale(.7);

opacity:.9;
}

100%{
transform:
translate(-50%,-50%)
scale(2.5);

opacity:0;
}

}

.panel{
position:absolute;
width:260px;
background:#5a616e;
border:3px solid #b8b8b8;
border-radius:12px;
padding:14px;
backdrop-filter:blur(10px);
color:white;
display:none;
will-change:transform;
}

svg{
position:absolute;
inset:0;
width:100%;
height:100%;
overflow:visible;
pointer-events:none;
}

line{
fill:none;
}

canvas{
display:block;
width:100% !important;
height:100% !important;
}

.panel{
backdrop-filter:none !important;
}
